<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>New Job</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-[#FFFFFF] p-4">
                <div class="flex flex-col gap-4">
                    <div class="flex gap-3">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" style="background-image: url(&quot;https://cdn.usegalileo.ai/stability/c4569aad-f00d-4a14-b6a5-e4e417b4f11d.png&quot;);"></div>
                        <h1 class="text-black text-base font-medium leading-normal">Samantha</h1>
                    </div>
                    <div class="flex flex-col gap-2">
                      <a href="{{ url_for('employer_dashboard') }}" class="flex items-center gap-3 px-3 py-2 text-black  hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="House" data-size="24px" data-weight="regular">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"></path>
                          </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">Dashboard</p>
                      </a>
                      <a href="{{ url_for('job_listings') }}" class="flex items-center gap-3 px-3 py-2 text-black hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="List" data-size="24px" data-weight="fill">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M224,120v16a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V120a8,8,0,0,1,8-8H216A8,8,0,0,1,224,120Zm-8,56H40a8,8,0,0,0-8,8v16a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V184A8,8,0,0,0,216,176Zm0-128H40a8,8,0,0,0-8,8V72a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V56A8,8,0,0,0,216,48Z"></path>
                          </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">Job Listings</p>
                      </a>
                      <a href="{{ url_for('new_job') }}" class="flex items-center gap-3 px-3 py-2 text-black rounded-xl bg-[#EEEEEE] hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="Briefcase" data-size="24px" data-weight="regular">
                          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                          </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">New Job</p>
                      </a>
                      <a href="{{ url_for('candidates') }}" class="flex items-center gap-3 px-3 py-2 text-black hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="UsersThree" data-size="24px" data-weight="regular">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4Z"></path>
                          </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">Candidates</p>
                      </a>                      
                    </div>
                  </div>
                  <form action="{{ url_for('logout') }}" method="post" class="flex flex-col">
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-black text-[#FFFFFF] text-sm font-bold leading-normal tracking-[0.015em]"
                  >
                    <span class="truncate">Log out</span>
                  </button>
                  </form>
            </div>
          </div>





























          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#111517] tracking-light text-[32px] font-bold leading-tight min-w-72">Create job listing</p></div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#111517] text-base font-medium leading-normal pb-2">Job title*</p>
                <input
                  placeholder="Software Engineer, Designer, Product Manager, etc..."
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111517] focus:outline-0 focus:ring-0 border-none bg-[#f0f3f4] focus:border-none h-14 placeholder:text-[#647987] p-4 text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#111517] text-base font-medium leading-normal pb-2">Job type*</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111517] focus:outline-0 focus:ring-0 border-none bg-[#f0f3f4] focus:border-none h-14 bg-[image:--select-button-svg] placeholder:text-[#647987] p-4 text-base font-normal leading-normal"
                >
                  <option value="one">Onsite</option>
                  <option value="two">Remote</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#111517] text-base font-medium leading-normal pb-2">Job description*</p>
                <textarea
                  placeholder="Add more details about the job and what you're looking for in a candidate"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111517] focus:outline-0 focus:ring-0 border-none bg-[#f0f3f4] focus:border-none min-h-36 placeholder:text-[#647987] p-4 text-base font-normal leading-normal"
                ></textarea>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#111517] text-base font-medium leading-normal pb-2">Salary &amp; compensation*</p>
                <input
                  placeholder="$80,000 to $120,000 per year, $20,000 to $30,000 bonus, etc..."
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111517] focus:outline-0 focus:ring-0 border-none bg-[#f0f3f4] focus:border-none h-14 placeholder:text-[#647987] p-4 text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#1d8cd7] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">List Job</span>
              </button>
            </div>
          </div>
          


















          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>