<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Courses</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>

  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-[#FFFFFF] p-4">
                <div class="flex flex-col gap-4">
                    <div class="flex gap-3">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" style="background-image: url(&quot;https://cdn.usegalileo.ai/stability/c4569aad-f00d-4a14-b6a5-e4e417b4f11d.png&quot;);"></div>
                        <h1 class="text-black text-base font-medium leading-normal">Samantha</h1>
                    </div>
                    <div class="flex flex-col gap-2">
                      <a href="{{ url_for('jobber_dashboard') }}" class="flex items-center gap-3 px-3 py-2 text-black hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="House" data-size="24px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"></path>
                            </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">Dashboard</p>
                    </a>
                    
                    <a href="{{ url_for('courses') }}" class="flex items-center gap-3 px-3 py-2 text-black rounded-xl bg-[#EEEEEE] hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="List" data-size="24px" data-weight="fill">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M216,32V192a8,8,0,0,1-8,8H72a16,16,0,0,0-16,16H192a8,8,0,0,1,0,16H48a8,8,0,0,1-8-8V56A32,32,0,0,1,72,24H208A8,8,0,0,1,216,32Z"></path>
                            </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">Courses</p>
                    </a>
                    
                    <a href="{{ url_for('hiring') }}" class="flex items-center gap-3 px-3 py-2 text-black hover:bg-gray-100 rounded">
                        <div class="text-black" data-icon="Briefcase" data-size="24px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"></path>
                            </svg>
                        </div>
                        <p class="text-black text-sm font-medium leading-normal">Hiring</p>
                    </a>
                    
                      
                    </div>
                  </div>
                  <form action="{{ url_for('logout') }}" method="post" class="flex flex-col">
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-black text-[#FFFFFF] text-sm font-bold leading-normal tracking-[0.015em]"
                  >
                    <span class="truncate">Log out</span>
                  </button>
                  </form>
            </div>
          </div>
          
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-black tracking-light text-[32px] font-bold leading-tight min-w-72">Your courses</p></div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/34e679d1-20de-468d-906b-8b6b580bb999.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">Intro to Data Science</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">8 modules | 40 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 3 days ago</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/324922b4-2b3b-430e-a138-68c822a2fffd.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">Advanced Data Science</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">10 modules | 50 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 1 week ago</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/3ee77666-bedb-48aa-8904-35fc9ea6794f.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">Intro to Machine Learning</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">6 modules | 30 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 2 weeks ago</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/e35c4864-73e9-4e05-9ac9-479d22dac1f9.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">Machine Learning for Business</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">12 modules | 60 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 1 month ago</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/9e651739-5836-4e09-a7d3-c9a647b6e18a.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">A/B Testing</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">5 modules | 25 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 2 months ago</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/a62eff83-e2e2-4aef-bfdd-644ef9118aa1.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">Deep Learning</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">15 modules | 75 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 3 months ago</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/ee4827be-15d0-48b5-9f26-5f06c6b612e6.png");'
                ></div>
                <div>
                  <p class="text-black text-base font-medium leading-normal">Natural Language Processing</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">7 modules | 35 hours</p>
                  <p class="text-[#6B6B6B] text-sm font-normal leading-normal">Last accessed: 4 months ago</p>
                </div>
              </div>
            </div>
            <div class="flex px-4 py-3 justify-end">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 bg-black text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Add new course</span>
              </button>
            </div>
          </div>

          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>